In [1]:
import os

In [4]:
import pandas as pd
from pathlib import Path

In [8]:
%pwd

'f:\\Anaconda Projects\\end to end black friday first\\Student-Performance-Prediction-Model\\research'

In [9]:
os.chdir('../')

In [10]:
data = pd.read_csv(Path('data\clean_wine_data.csv'))

In [11]:
data.shape

(550068, 11)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 11 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  int64
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          550068 non-null  float64
 10  Purchase                    550068 non-null  int64
dtypes: float64(1), int64(6), object(4)
memory usage: 46.2+ MB

In [13]:
num_columns = data.select_dtypes(include=['int64','float64']).columns
cat_columns = data.select_dtypes(include='object').columns

In [16]:
print(f'Numerical columns: {num_columns}')
print(f'Categorical columns: {cat_columns}')

Numerical columns: Index(['User_ID', 'Occupation', 'Stay_In_Current_City_Years', 'Marital_Status',
       'Product_Category_1', 'Product_Category_2', 'Purchase'],
      dtype='object')
Categorical columns: Index(['Product_ID', 'Gender', 'Age', 'City_Category'], dtype='object')

In [15]:
data.isnull().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Purchase                      0
dtype: int64

In [17]:
df = data[2000::]

In [18]:
df.shape

(548068, 11)

In [19]:
df.head(1)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Purchase
2000,1000319,P00361942,F,51-55,6,B,3,1,1,2.0,4229

In [20]:
df = data.iloc[:5000,:]

In [21]:
df.shape

(5000, 11)

In [23]:
df.to_csv('clean_short_data.csv')